<EditForm EditContext="editContext" OnSubmit="Validate">
    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">Nombre</div>
        <div class="col-sm-10">
            <InputText class="form-control" @bind-Value="Model.Name" />
            <ValidationMessage For="() => Model.Name" />
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">Descipción</div>
        <div class="col-sm-10">
            <InputText class="form-control" @bind-Value="Model.Description" />
            <ValidationMessage For="() => Model.Description" />
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">Categoría</div>
        <div class="col-sm-10">
            <InputSelect class="form-control" @bind-Value="Model.ProductCategoryFK">
                <option value="@(default(Guid))"></option>
                @foreach (var cat in categories)
                {
                    <option value="@cat.Id">@cat.Name</option>
                }
            </InputSelect>
            <ValidationMessage For="() => Model.ProductCategoryFK" />
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">Familia</div>
        <div class="col-sm-10">
            <InputSelect class="form-control" @bind-Value="Model.ParentFK">
                <option value="@(default(Guid))"></option>
                @foreach (var cat in productTypesParent)
                {
                    <option value="@cat.Id">@cat.Name</option>
                }
            </InputSelect>
            <ValidationMessage For="() => Model.ParentFK" />
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">Activo</div>
        <div class="col-sm-10">
            <InputCheckbox class="custom-checkbox" @bind-Value="Model.IsActive" />
            <ValidationMessage For="() => Model.IsActive" />
        </div>
    </div>

    <button type="submit" class="btn btn-outline-primary">Guardar</button>
    <button type="reset" class="btn btn-outline-danger" @onclick="() => OnEditionFinished.InvokeAsync(null)">Descartar</button>
</EditForm>

@code {
    [Inject] IRepoClient Repo { get; set; }
    [Parameter] public ProductType Model { get; set; }
    [Parameter] public EventCallback<ProductType> OnEditionFinished { get; set; }

    private bool active { get; set; }
    private EditContext editContext;
    private ValidationMessageStore validationMessages;
    private List<ProductCategory> categories = new();
    private List<ProductType> productTypesParent = new();

    protected override async Task OnParametersSetAsync()
    {
        if (Model is null)
            Model = new();

        editContext = new EditContext(Model);
        validationMessages = new ValidationMessageStore(editContext);
        await base.OnParametersSetAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Reload();
            StateHasChanged();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    void Validate()
    {
        validationMessages.Clear();
        if (string.IsNullOrWhiteSpace(Model.Name))
            validationMessages.Add(() => Model.Name, "El nombre no debe quedar vacío");
        if (Model.ProductCategoryFK == default(Guid))
            validationMessages.Add(() => Model.ProductCategoryFK, "Debes seleccionar una categoría");
        if (Model.ParentFK == default(Guid))
            Model.ParentFK = null;
        var formReady = editContext.Validate();
        if (formReady)
            OnEditionFinished.InvokeAsync(Model);
    }

    private async Task Reload()
    {
        var first = await Repo.GetAsync<IEnumerable<ProductCategory>>(EndpointProduct.ProductCategory);
        if (first.Success)
            categories = first.Response.ToList();
        var query = Repo.BuildQuery(EndpointProduct.ProductType, "onlyFirstLevel", true);
        var second = await Repo.GetAsync<IEnumerable<ProductType>>(query);
        if (second.Success)
            productTypesParent = second.Response.ToList();
    }
}
